<!-- <p>admin works!</p> -->


<button type="button" class="btn btn-secondary" (click)=chooseApp(1)>View all companies</button>

<button type="button" class="btn btn-secondary" (click)=chooseApp(2)>View all customers</button>


<ng-container *ngIf="this.adminService.showApp[0]">
  <app-login></app-login>
</ng-container>
  
  <ng-container *ngIf="this.adminService.showApp[1]">
    <app-view-all-companies></app-view-all-companies>
  </ng-container>
  
  <ng-container *ngIf="this.adminService.showApp[2]">
    <app-view-all-customers></app-view-all-customers>
  </ng-container>
