<p>update-company works!</p>

<form action="" method="POST" role="form">
    <legend>Change company's email & password</legend>

    <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label">Company's email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="row2" placeholder="Email" 
            [(ngModel)]="adminService.email" name="second">
        </div>
    </div>

    <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label">New email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="row3" placeholder="New email" 
            [(ngModel)]="adminService.newEmail" name="third">
        </div>
    </div>

    <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label">New Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="row4" placeholder="Password" 
            [(ngModel)]="adminService.password" name="fourth">
        </div>
    </div>

    <button type="submit" class="btn btn-primary" (click)=updateCompanyClick()>Confirm changes</button>

</form>

<p class="reddish-bold">
    {{this.adminService.message}}
</p>