<p>view-customer works!</p>

<form class="form-inline">
    <legend>Find a customer</legend>

    <div class="form-group mx-sm-3 mb-2">
        <label for="" class="col-sm-2 col-form-label">Customer's email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="row2" placeholder="Email" [(ngModel)]="adminService.email"
                name="second">
        </div>
    </div>
    <button type="submit" class="btn btn-primary" (click)=getCustomerClick()>Find</button>
</form>

<p class="reddish-bold">
    {{this.adminService.message}}
</p>

<ng-container *ngIf="customer">
    <table class="table table-hover">
        <tbody>
            <tr>
                <th scope="row">First name</th>
                <td>{{this.customer.firstName}}</td>
            </tr>
            <tr>
                <th scope="row">Last name</th>
                <td>{{this.customer.lastName}}</td>
            </tr>
            <tr>
                <th scope="row">Email</th>
                <td>{{this.customer.email}}</td>

            </tr>
            <tr>
                <th scope="row">Password</th>
                <td>{{this.customer.password}}</td>
            </tr>
        </tbody>
    </table>
</ng-container>