<!-- <p>view-all-customers works!</p> -->

<ng-container *ngIf="!editNow">

    <legend>Customers list</legend>

    <div *ngIf="!filtering">
        <button type="submit" id="" name="singlebutton" class="btn btn-link" (click)="this.filtering = true">
            Find by email</button>
        <button type="submit" id="" name="singlebutton" class="btn btn-link" (click)="this.ngOnInit()">
            Refresh list</button>
    </div>

    <div *ngIf="filtering">
        <button type="submit" id="" name="singlebutton" class="btn btn-link" (click)="this.filtering = false">
            back to customers list</button>

        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Find customer by email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="row2" placeholder="customer email" [(ngModel)]="email"
                    name="second">
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th></th>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Email</th>
                    <!-- <th scope="col">Password</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c of customers">
                    <ng-container *ngIf="!filtering || c.email == email">
                        <ng-container *ngIf="c.firstName">
                            <td>
                                <button type="submit" id="" name="singlebutton" class="btn btn-link"
                                    (click)="this.editCustomer(c)">Edit</button>
                            </td>
                            <td>{{c.firstName}}</td>
                            <td>{{c.lastName}}</td>
                            <td>{{c.email}}</td>
                            <!-- <td>{{c.password}}</td> -->
                        </ng-container>
                    </ng-container>
                </tr>
                <tr>
                    <button type="button" class="btn btn-primary" (click)="this.addCustomer()">Add customer</button>
                </tr>
            </tbody>
        </table>
    </div>
</ng-container>

<ng-container *ngIf="editNow">
    <form action="" method="POST" role="form">
        <button type="submit" id="" name="singlebutton" class="btn btn-link"
            (click)="this.editNow = false; this.addNow = false">
            back to customers list</button>
        <ng-container *ngIf="!addNow">
            <legend>Edit customer</legend>
        </ng-container>
        <ng-container *ngIf="addNow">
            <legend>Add customer</legend>
        </ng-container>

        <div *ngIf="addNow" class="form-group row">
            <label for="" class="col-sm-2 col-form-label">First name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="row2" placeholder="first name"
                    [(ngModel)]="customer.firstName" name="second">
            </div>
        </div>

        <div *ngIf="addNow" class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Last name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="row4" placeholder="last name"
                    [(ngModel)]="customer.lastName" name="third">
            </div>
        </div>

        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="row4" placeholder="email"
                    [(ngModel)]="customer.email" name="fourth">
            </div>
        </div>

        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="row4" placeholder="password"
                    [(ngModel)]="customer.password" name="fifth">
            </div>
        </div>

        <ng-container *ngIf="!addNow">
            <button type="submit" class="btn btn-primary" (click)="updateCustomerClick()">
                Confirm changes</button>
            <button type="submit" class="btn btn-danger" (click)="deleteCustomerClick()">
                Delete customer</button>
        </ng-container>
        <ng-container *ngIf="addNow">
            <button type="submit" class="btn btn-primary" (click)="addCustomerClick()">
                Add customer</button>
        </ng-container>
    </form>
</ng-container>

<p class="reddish-bold">
    {{this.adminService.message}}
</p>