{{currentDate|date:'d MMMM yyyy'}}

<ng-container *ngIf="this.shareDataService.userResponse.token">
    <button type="button" class="btn btn-secondary" (click)=chooseApp(9)>Logout</button>
</ng-container>

<ng-container *ngIf="!this.shareDataService.userResponse.token">
    <button type="button" class="btn btn-secondary" (click)=chooseApp(0)>Login</button>
</ng-container>

<button type="button" class="btn btn-secondary" (click)=chooseApp(1)>Admin</button>


<button type="button" class="btn btn-secondary" (click)=chooseApp(2)>Company</button>


<button type="button" class="btn btn-secondary" (click)=chooseApp(3)>Customer</button>
