<p>home works!</p>
<ng-container *ngIf="this.shareDataService.showApp[0]">
    <app-login></app-login>
  </ng-container>

  <ng-container *ngIf="this.shareDataService.showApp[1]">
    <app-admin></app-admin>
  </ng-container>

  <ng-container *ngIf="this.shareDataService.showApp[2]">
    <app-company></app-company>
  </ng-container>

  <ng-container *ngIf="this.shareDataService.showApp[3]">
    <app-customer></app-customer>
  </ng-container>

  <ng-container *ngIf="this.shareDataService.showApp[9]">
    <app-logout></app-logout>
  </ng-container>