<p>view-all-coupons works!</p>

<div *ngIf="!editNow">

    <legend>Coupons list</legend>

    <div *ngIf="!filtering">
        <button type="submit" id="" name="singlebutton" class="btn btn-link" (click)="this.filtering = true">
            Add filters</button>
        <button type="submit" id="" name="singlebutton" class="btn btn-link" (click)="this.ngOnInit()">
            Refresh list</button>
    </div>

    <div *ngIf="filtering">
        Filter by:
        <button type="submit" id="" name="singlebutton" class="btn btn-link" (click)="this.filtering = false">
            Hide filters</button>
        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Category</label>
            <div class="col-sm-10">
                <select class="form-control" [(ngModel)]="categoryFilter" name="first">
                    <option select disabled value="1">Select category</option>
                    <option value="1">Food</option>
                    <option value="2">Electricity</option>
                    <option value="3">Restaurant</option>
                    <option value="4">Vacation</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Max price</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="row2" placeholder="max price" [(ngModel)]="maxPriceFilter"
                    name="second">
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Title</th>
                    <th scope="col">CategoryName</th>
                    <th scope="col">Description</th>
                    <th scope="col">StartDate</th>
                    <th scope="col">EndDate</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Price</th>
                    <th scope="col">Image</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c of coupons">
                    <ng-container *ngIf="!filtering || c.categoryId == categoryFilter">
                        <ng-container *ngIf="!filtering || c.price <= maxPriceFilter">
                            <ng-container *ngIf="c.title">
                                <td>
                                    <button type="submit" id="" name="singlebutton" class="btn btn-link"
                                        (click)="this.editCoupon(c)">Edit</button>
                                </td>
                                <td>{{c.title}}</td>
                                <td>
                                    <ng-container *ngIf="c.categoryId == 1">Food</ng-container>
                                    <ng-container *ngIf="c.categoryId == 2">Electricity</ng-container>
                                    <ng-container *ngIf="c.categoryId == 3">Restaurant</ng-container>
                                    <ng-container *ngIf="c.categoryId == 4">Vacation</ng-container>
                                </td>
                                <td>{{c.description}}</td>
                                <td>{{c.startDate}}</td>
                                <td>{{c.endDate}}</td>
                                <td>{{c.amount}}</td>
                                <td>{{c.price}}</td>
                                <td>{{c.image}}</td>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </tr>
                <tr>
                    <button type="button" class="btn btn-primary" (click)="this.addCoupon()">Add coupon</button>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div *ngIf="editNow">
    <form action="" method="POST" role="form">
        <button type="submit" id="" name="singlebutton" class="btn btn-link"
            (click)="this.editNow = false; this.addNow = false">
            back to coupons list</button>
        <ng-container *ngIf="!addNow">
            <legend>Edit coupon</legend>
        </ng-container>
        <ng-container *ngIf="addNow">
            <legend>Add coupon</legend>
        </ng-container>

        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="row2" placeholder="Title" [(ngModel)]="coupon.title"
                    name="second">
            </div>
        </div>

        <div class="form-group row">
            <label for="exampleFormControlSelect1" class="col-sm-2 col-form-label">Category</label>
            <div class="col-sm-10">
                <select class="form-control" [(ngModel)]="coupon.categoryId" name="first">
                    <!-- <option select disabled value="CUSTOMER">Select type</option> -->
                    <option value="1">Food</option>
                    <option value="2">Electricity</option>
                    <option value="3">Restaurant</option>
                    <option value="4">Vacation</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="row4" placeholder="Description"
                    [(ngModel)]="coupon.description" name="fourth">
            </div>
        </div>

        <div class="form-group row">
            <label for="example-date-input" class="col-2 col-form-label">Start date</label>
            <div class="col-10">
                <input class="form-control" type="date" [(ngModel)]="coupon.startDate" name="fifth"
                    id="example-date-input">
            </div>
        </div>

        <div class="form-group row">
            <label for="example-date-input" class="col-2 col-form-label">End date</label>
            <div class="col-10">
                <input class="form-control" type="date" [(ngModel)]="coupon.endDate" name="sixth"
                    id="example-date-input">
            </div>
        </div>

        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Price</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="row7" placeholder="Price" [(ngModel)]="coupon.price"
                    name="Seventh">
            </div>
        </div>

        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Amount</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="row8" placeholder="Amount" [(ngModel)]="coupon.amount"
                    name="Eighth">
            </div>
        </div>

        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Image</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="row9" placeholder="Image" [(ngModel)]="coupon.image"
                    name="Ninth">
            </div>
        </div>
        <ng-container *ngIf="!addNow">
            <button type="submit" class="btn btn-primary" (click)="updateCompanyClick()">
                Confirm changes</button>
            <button type="submit" class="btn btn-danger" (click)="deleteCouponClick()">
                Delete coupon</button>
        </ng-container>
        <ng-container *ngIf="addNow">
            <button type="submit" class="btn btn-primary" (click)="addCouponClick()">
                Add coupon</button>
        </ng-container>
    </form>
</div>

<p class="reddish-bold">
    {{this.companyService.message}}
</p>