<p>add-company works!</p>

<form action="" method="POST" role="form">
    <legend>Add new company</legend>

    <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="row2" placeholder="Company name"
             [(ngModel)]="company.name" name="second">
        </div>
    </div>

    <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="row3" placeholder="Email" 
            [(ngModel)]="company.email" name="third">
        </div>
    </div>

    <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="row4" placeholder="Password" 
            [(ngModel)]="company.password" name="fourth">
        </div>
    </div>

    <button type="submit" class="btn btn-primary" (click)=addCompanyClick()>Add company</button>

</form>

<p class="reddish-bold">
    {{this.adminService.message}}
</p>