div{
    height: 100%;
    background-color: silver;
    text-align: center;
    font-family: 'Gill Sans';
  }
a {
    font-size: x-large;
    color: blue;
    display: block;
    text-decoration:dashed;
}


.router-link-active{
  font-size: large;
  color: palevioletred;
}