<p>company works!</p>

<button type="button" class="btn btn-secondary" (click)=chooseApp(1)>Company's coupons</button>

<button type="button" class="btn btn-secondary" (click)=chooseApp(2)>View company details</button>


<ng-container *ngIf="this.companyService.showApp[0]">
  <app-login></app-login>
</ng-container>

<ng-container *ngIf="this.companyService.showApp[1]">
  <app-view-company-coupons></app-view-company-coupons>
</ng-container>

<ng-container *ngIf="this.companyService.showApp[2]">
  <app-view-company-details></app-view-company-details>
</ng-container>